USE [master]
GO
/****** Object:  Database [accepted_db]    Script Date: 7/11/2023 1:54:56 PM ******/
CREATE DATABASE [accepted_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'accepted_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\accepted_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'accepted_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\accepted_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [accepted_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [accepted_db]
GO
/****** Object:  User [root]    Script Date: 7/11/2023 1:54:56 PM ******/
CREATE USER [root] FOR LOGIN [root] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[match]    Script Date: 7/11/2023 1:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[match_date] [date] NOT NULL,
	[match_time] [varchar](10) NOT NULL,
	[team_a] [varchar](100) NOT NULL,
	[team_b] [varchar](100) NOT NULL,
	[sport] [int] NOT NULL,
 CONSTRAINT [PK_match] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_odds]    Script Date: 7/11/2023 1:54:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_odds](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[match_id] [bigint] NOT NULL,
	[specifier] [varchar](100) NOT NULL,
	[odd] [float] NOT NULL,
 CONSTRAINT [PK_match_odds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[match_odds]  WITH CHECK ADD  CONSTRAINT [FK_match_odds_match] FOREIGN KEY([match_id])
REFERENCES [dbo].[match] ([id])
GO
ALTER TABLE [dbo].[match_odds] CHECK CONSTRAINT [FK_match_odds_match]
GO
USE [master]
GO
